.header {
  display: flex;
  justify-content: space-between;
  padding: 2.4rem 7.6rem;
}

.main-nav-list {
  display: flex;
  list-style: none;
  gap: 2.4rem;
}

.main-nav-link {
  text-decoration: none;
  color: var(--secondary-font);
}

.section-hero {
  background-color: var(--background--white);
}

.hero {
  max-width: var(--content-max-width);
  margin: 0 auto;
  padding: 0 3.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-img {
  width: 100%;
}
