@keyframes item-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    flex: 1;
    opacity: 1;
  }
}

@keyframes reveal-menu {
  0% {
    height: 8rem;
    /* opacity: 0; */
  }

  25% {
    height: 15rem;
  }

  50% {
    height: 30rem;
    /* opacity: 50%; */
  }

  75% {
    height: 40rem;
  }

  100% {
    height: 54rem;
    /* opacity: 100%; */
  }
}

@keyframes reveal-bottom {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 50%;
  }

  100% {
    opacity: 100%;
  }
}

.header {
  /* background-color: red; */

  z-index: 9999;
  /* position: absolute; */
  position: fixed;

  width: 100%;
  /* height: 8rem; */
  /* height: 8rem; */

  transition: all 1s;
}

.nav-open .header {
  animation-name: reveal-menu;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

.nav-open .mobile-header-bottom {
  animation-name: reveal-bottom;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

/**************** DESKTOP HEADER ******************/
.desktop-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.4rem 3.8rem;
}

.main-nav-list {
  display: flex;
  list-style: none;
  gap: 3.6rem;
}

.main-nav-link {
  font-size: 1.8rem;
  font-weight: 400;
  text-decoration: none;
  color: var(--secondary-font);
}

/********** MOBILE HEADER ************/
.mobile-header {
  display: none;
  padding: 2rem 4rem;

  z-index: 9999;
  background-color: var(--background--white);
}

.mobile-header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-mobile-nav {
  border-radius: 50%;
  border: none;
}

.icon-mobile-nav {
  display: none;
  width: 2.4rem;
  height: 2.4rem;
  padding: 1.4rem;
  border-radius: 50%;
}

.mobile-header-bottom {
  background-color: var(--background--white);
  transition: all 0.3s ease-in;

  opacity: 0;

  /* position: absolute; */
  z-index: -9999;
  display: none;

  transform: translateY(40%);
}

.mobile-nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.mobile-nav-link {
  text-decoration: none;
  color: var(--primary-font);
  font-size: 2.2rem;
}

.sticky .header {
  background-color: rgba(255, 255, 255, 0.97);
}

/******************************************************/

.section-hero {
  padding: 4.8rem 0 9.6rem 0;
  padding-top: 15rem;
  background-color: var(--background--white);
}

.hero {
  max-width: var(--content-max-width);
  margin: 0 auto;
  padding: 0 3.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-text {
  max-width: 65rem;
  font-size: 3.2rem;
  margin-bottom: 6.4rem;
  text-align: center;
  line-height: 1.4;
}

.hero-img {
  border-radius: 18px;
  width: 100%;
  transition: all 0.3s;
  margin-bottom: 9.6rem;
}

.hero-img:hover {
  transform: scale(1.01);
  box-shadow: inset 0.8rem;
}

.hero-cta {
  padding: 3.2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cta-text {
  max-width: 60rem;
  text-align: center;
}

/*****************************************************/
.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid--footer {
  grid-template-columns: 2fr 1fr 1fr 1fr 1.5fr;
}

.footer-hr {
  border: none;
  height: 1px;
  background-color: lightgray;
  margin: 0 auto;
  max-width: 120rem;
  margin-bottom: 6rem;
}

.footer-heading {
  font-weight: 700;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.icon-col {
  display: flex;
  gap: 1.2rem;
}

.footer-link {
  color: var(--primary-font);
  text-decoration: none;
  font-size: 2rem;
}

.footer-icon {
  border-radius: 50%;
  padding: 0.8rem;
  background-color: var(--primary);
  color: white;
  width: 2.4rem;
  height: 2.4rem;
}

.logo-col {
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
}

.copyright {
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
  max-width: 40rem;
}
